<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Compra</title>
        <link rel="stylesheet" href="css/estilo_inicio.css"/>
    </head>
    <body>
        <h1><%= title %></h1>
        <header>
            <p href="#"Estados></p>
            <p href="#">Municipios</p>
        </header>
        <a href="/">Página principal</a>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
     <script type="text/javascript" src="/javascripts/AJAX.js"></script>
    </body>
</html>
