<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>
	<header><h1><%= title%></h1></header>
	<main>
		<img src="/images/error.png"> <%= descripcion%>
	</main>
	<h3><a href="/">Página principal</a></h3>
</body>
</html>