<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Estados</title>
        <link rel="stylesheet" href="/css/estilo_inicio.css"/>
        <link rel="stylesheet" type="text/css" href="/css/api.css">
    </head>
    <body>
        <header>
            <%- include('apiheader.ejs'); %>
        </header>
        <h2>Eliga el estado del cual quiere ver los municipio</h2>
        <form name="Estados" >
            <select onchange="cambiar(this.value)">
                <option selected="selected">Seleccione una opcion</option>
                <% Productos.forEach(function(Productos) { %>
                    <option value="<%= Productos.nom_est %>"><%= Productos.nom_est %></option>         
                <% }); %>
            </select>
        </form>
        <div id="municipios">
            <form method="post">
                
            </form>
        </div>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/AJAX.js"></script>
    </body>
</html>
