<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Registro</title>
        <link rel="stylesheet" href="estilo_index.css"/>
    </head>
    <body>
        <header><%= title %></header>
        <p>Bienvenido <%= nom %></p>
        <h3><a href="/">Página principal</a></h3>
    </body>
</html>