div{
	border: none;
	margin: 1%;
	background: #585858;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	transition: all 500ms ease; 
}
div:hover{
	border: none;
	margin: 1%;
	background: #ECF0F1;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	transition: all 500ms ease; 
}